.text {
  padding-left: 10px;
  font-family: system-ui !important;
  font-size: 13px !important;
}

.project-users {
  text-align: right;
  width: 100%;
  img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    padding: 0;
    margin-left: -3px;
  }
}

.project-view {
  display: contents;
  font-family: system-ui;
  font-size: 13px;
  color: rgb(193, 193, 193);

  ion-icon {
    margin-right: 4px;
    margin-left: 4px;
  }
}
