.login_form{
    width: 100%;
    text-align: center;
    padding-top: 80px;
    padding: 20px;
}

.login_img{
    width: 100px;
}

.input1{
    padding-left: 15px !important;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 9px;
    font-size: 14px;
    min-height: 50px;
    color: #858585;
}