<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/ariangram/home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="explore" href="/ariangram/explore">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="post" href="/ariangram/post">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="projects" href="/projects/projects">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/profile/profile">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
